
.behance-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 10%;
}

.behance-section::before {
    content: "Linking Aid";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
    z-index: -1; /* Behind the actual content */
}

.behance-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Add margin for better separation from content */
    border: 5px solid white;
    border-radius: 10px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h5 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin: 0 auto;
    text-align: justify;
    color: rgb(190, 190, 190);
}
@media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px */
    .content p {
        font-size: 0.9em;
        /* You can add more styles as needed for smaller screens */
        padding: 10px;
    }
}

@media (max-width: 576px) {
    /* Adjust styles for screens with a maximum width of 576px */
    .content p {
        font-size: 0.8em;
        padding: 10px;
        /* You can add more styles as needed for even smaller screens */
    }
}
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 16px;
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  #back-to-top-btn:hover {
    background-color: #ffffff;
    color: black;
  }
  .back {
    position: absolute;
     top: 60px;
     left: 50px;
     font-size: 24px;
     background-color: transparent;
     border: none;
     color: #ffffff; /* Adjust text color as needed */
     cursor: pointer;
   }
   
   .back:hover {
     color: #555; /* Adjust hover color as needed */
   }